
<ul id="navbar">
  <li><a routerLink='/home'>Home</a></li>
  <li><a routerLink='/contact'>Contact</a></li>
  <li><a routerLink='/about'>About</a></li>
  <li><a routerLink='/trip'>Trips</a></li>
  <li><a routerLink='/logout'>Logout</a></li>
</ul>

<p>User Trip Booking works!</p>

<div class="container">
  <div *ngFor="let trip of trips" class="card">
    <div class="card-body">
      <h5 class="card-title">{{trip.name}}</h5>
      <p>Start Time: {{trip.startTime}}</p>
      <p>End Time: {{trip.endTime}}</p>
      <p>Ticket Price: ${{trip.ticketPrice}}</p>
      <p>Date: {{trip.date}}</p>
      <button (click)="bookTrip(trip.id)" class="btn btn-primary">Book Trip</button>
    </div>
  </div>

  <div *ngIf="trips.length == 0">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">No trips available!</h4>
      <p>No Trips were found.</p>
    </div>
  </div>
</div>

