<!-- menu -->
<ul id="navbar">
  <li id="menu_home"><a routerLink='/home'>Home</a></li>
  <li *ngIf="loggedUser && loggedUser.role === 'ADMIN'"><a routerLink='/user'>Users</a></li>
  <!--<li id="logo">Touristic transportation<li>-->
  <li><a routerLink='/contact'>Contact</a></li>
  <li><a routerLink='/about'>About</a></li>
  <li  *ngIf="loggedUser && loggedUser.role === 'USER'"><a routerLink='/trip'>Trips</a></li>
  <li  *ngIf="loggedUser && loggedUser.role === 'USER'"><a routerLink='/destination'>Destinations</a></li>
  <li  *ngIf="loggedUser && loggedUser.role === 'USER'"><a routerLink='/trip'>Trips</a></li>
  <li  *ngIf="loggedUser && loggedUser.role === 'VISITOR'"><a routerLink='/registration'>Register</a></li>
  <li  *ngIf="loggedUser && loggedUser.role === 'VISITOR'"><a routerLink='/login'>Login</a></li>
  <li *ngIf="loggedUser && loggedUser.role === 'USER'"><a routerLink='/logout'>Logout</a></li>
</ul>

<p>trip works!</p>

<div class = "search">
  <form>
    <input type="search" (ngModelChange)="searchTrips(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search trips..." required>
  </form>
</div>
<div class = "add_p">
  <a class="button" (click)="onOpenModal(addTrip, 'add')">Add Trip</a>
</div>


<div class="container" id="main-container" class="container_margin">
  <div class="row">
    <div *ngFor="let trip of trips">
      <div class="card">
        <div class="card-body">

          <h5 class="card-title">Name: {{trip.name}}</h5>
          <p>Start Time: {{trip.startTime}}</p>
          <p>End Time: {{trip.endTime}}</p>
          <p>Ticket Price: ${{trip.ticketPrice}}</p>
          <p>Nr Tickets: {{trip.nrTickets}}</p>
          <p>Date: {{trip.date}}</p>

          <div *ngIf="trip.map">
            <div [innerHtml]="trip.map | safeHtml"></div>
          </div>

          <div class = "add_p">
            <a class="button" (click)="onOpenModal3(trip, loggedUser, 'add')">Book Trip</a>
          </div>
          Orar:
          <!-- Answers -->
          <div class="answers-section">
            <div *ngFor="let program of getProgramForTrip(trip.id)" class="card">
              <div class="card-body">
                <p>Destinatie: {{program.destination.name}}: {{program.destination.category.name}}; {{program.startTime}} - {{program.endTime}}</p>
              </div>
            </div>
          </div>

          <div class = "add_p">
            <a class="button" (click)="onOpenModal2(trip, addProgram, 'add')">Add Destination and time interval</a>
          </div>

        </div>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm edit_delete_buttons">
            <a (click)="onOpenModal(trip, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit" ><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(trip, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--<div [ngStyle]="{'display':display}">Text de afisat</div>-->
  <!-- Add Trip Modal -->
  <div class="modal" id="addTripModal" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="addTripModalLabel">Add Trip</h6>
          <button (click)="onCloseHandled()" type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddTrip(addForm)">
            <div class="form-group">
              <input type="text" ngModel name="name" class="form-control form_input" id="name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" ngModel  name="startTime" class="form-control" placeholder="Start Time">
            </div>
            <div class="form-group">
              <input type="text" ngModel name="endTime" class="form-control" placeholder="End Time">
            </div>
            <div class="form-group">
              <input type="number" ngModel  name="ticketPrice" class="form-control" placeholder="Ticket Price">
            </div>
            <div class="form-group">
              <input type="number" ngModel  name="nrTickets" class="form-control" placeholder="Nr Tickets">
            </div>
            <div class="form-group">
              <input type="date" ngModel  name="date" class="form-control" placeholder="Date">
            </div>

            <div class="form-group">
              <input type="text" ngModel name="map" class="form-control form_input" id="map" placeholder="Map Embed URL" required>
            </div>

            <div class="modal-footer">
              <button  (click)="onCloseHandled()" type="button" id="add-trip-form" class="btn btn-secondary button" data-dismiss="modal" >Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary button" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal" id="updateTripModal" role="dialog" [ngStyle]="{'display':display2}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="updateTripModalLabel">Edit Trip {{editTrip.name}}</h6>
          <button (click)="onCloseHandled2()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <input type="text" ngModel="{{editTrip.name}}" name="name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" ngModel="{{editTrip.startTime}}" name="startTime" class="form-control" placeholder="Start Time">
            </div>
            <div class="form-group">
              <input type="text" ngModel="{{editTrip.endTime}}" name="endTime" class="form-control" placeholder="End Time">
            </div>
            <div class="form-group">
              <input type="number" ngModel="{{editTrip.ticketPrice}}" name="ticketPrice" class="form-control" placeholder="Ticket Price">
            </div>
            <div class="form-group">
              <input type="number" ngModel="{{editTrip.nrTickets}}" name="nrTickets" class="form-control" placeholder="Nr Tickets">
            </div>
            <div class="form-group">
              <input type="date" ngModel="{{editTrip.date}}" name="date" class="form-control" placeholder="Date">
            </div>
            <div class="form-group">
              <input type="text" ngModel="{{editTrip.map}}" name="map" class="form-control form_input" id="map2" placeholder="Map Embed URL">
            </div>
            <input type="hidden" ngModel="{{editTrip.id}}" name="id" class="form-control" id="id" placeholder="Email">

            <div class="modal-footer">
              <button (click)="onCloseHandled2()" type="button" id="" data-dismiss="modal" class="btn btn-secondary button">Close</button>
              <button (click)="onUpdateTrip(editForm.value)" data-dismiss="modal" class="btn btn-primary button" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal" id="deleteTripModal" role="dialog" [ngStyle]="{'display':display3}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="deleteModelLabel">Delete Trip</h6>
          <button (click)="onCloseHandled3()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="modal_text">Are you sure you want to delete trip {{deleteTrip.name}}?</p>
          <div class="modal-footer">
            <button (click)="onCloseHandled3()" type="button" class="btn btn-secondary button" data-dismiss="modal">No</button>
            <button (click)="onDeleteTrip(deleteTrip.id)" class="btn btn-danger button" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Program Modal -->
  <div class="modal" id="addAnswerModal" role="dialog" [ngStyle]="{'display':display4}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="addAnswerModalLabel">Add Destination and time interval</h6>
          <button (click)="onCloseHandled4()" type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm2="ngForm" (ngSubmit)="onAddProgram(addForm2)">
            <div>
              <div>
                <input [ngModel]="viewTrip" name="trip" class="form-control form_input" id="trip" readonly>
              </div>
              <div>
                <select ngModel name="destination" class="form-control form_input" id="destination" required>
                  <option *ngFor="let destination of destinations" [ngValue]="destination">{{ destination.name }}</option>
                </select>
              </div>

            </div>
            <div class="form-group">
              <input type="text" ngModel  name="startTime" class="form-control form_input" placeholder="startTime">
            </div>
            <div class="form-group">
              <input type="text" ngModel  name="endTime" class="form-control form_input" placeholder="endTime">
            </div>

            <div class="modal-footer">
              <button  (click)="onCloseHandled4()" type="button" id="add-answer-form" class="btn btn-secondary button" data-dismiss="modal" >Close</button>
              <button [disabled]="addForm2.invalid" type="submit" class="btn btn-primary button" >Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Add Booking Modal -->
  <div class="modal" id="addBookingModal" role="dialog" [ngStyle]="{'display':display5}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="addBookingModalLabel">Book Trip</h6>
          <button (click)="onCloseHandled5()" type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm3="ngForm" (ngSubmit)="onAddBooking(addForm3)">
            <div>
              <div>
                <input [ngModel]="viewTrip" name="trip" class="form-control form_input" id="trip2" readonly>
              </div>
              <div>
                <input [ngModel]="loggedUser" name="user" class="form-control form_input" id="user" readonly>
              </div>
              <div>
                <input name="bookingDate" class="form-control form_input" id="bookingDate" readonly>
              </div>
              <div>
                <input name="totalCost" class="form-control form_input" id="totalCost" readonly>
              </div>
            </div>
            <div class="form-group">
              <input type="number" ngModel  name="nrTickets" class="form-control" placeholder="Nr Tickets">
            </div>
            <!--<div class="form-group">
              <input type="text" ngModel  name="totalCost" class="form-control form_input" placeholder="totalCost">
            </div>-->

            <div class="modal-footer">
              <button  (click)="onCloseHandled5()" type="button" id="add-booking-form" class="btn btn-secondary button" data-dismiss="modal" >Close</button>
              <button [disabled]="addForm3.invalid" type="submit" class="btn btn-primary button" >Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



  <!-- Notification for no Trips -->
  <div *ngIf="trips.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">No trips!</h4>
      <p>No Trips were found.</p>
    </div>
  </div>
</div>

<footer>
  <p>&copy; 2024 Touristic Transport Firm.</p>
</footer>
