<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
  margin: 0;
  padding: 0;
}

  p {
    margin: 0;
  }

  #navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    font-weight: 600;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  li#menu_cart {
    margin-left: 0px;
  }
  li#menu_login {
    margin-left: 850px;
  }
  li#menu_home {
    margin-left: 100px;
  }
  span#welcome {
    margin-left: 15px;
  }

  @media screen and (max-width: 575px) {
    
  }

  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #3a3a3a;
}

#logo_case
{
  background-color: #000000;
}

#logo{
  color: #ffffff;
  padding-left: 100px;
  padding-top: 20px;
  font-size: 35px;
}


::ng-deep * {
      
      margin: 0;
      padding: 0;
    }

</style>

<!-- logo -->
<div id="logo_case">
   <p id="logo">SHOP</p>
  </div>

<!-- menu -->
<ul id="navbar">
  <li id="menu_home"><a routerLink='/home'>Home</a></li>
  <li><a routerLink='/products'>Products</a></li>
  <li><a routerLink='/contact'>Contact</a></li>
  <li><a routerLink='/about'>About</a></li>
  <li id="menu_login"><a routerLink='/login'>Login</a></li>
  <li id="menu_cart"><a routerLink='/shopping-cart'>
    <svg id="cart" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16"  (click)="navigateToAnotherComponent()"> 
      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/> 
    </svg>
    Cart</a></li>
</ul>

<div class="content" role="main">

 <p>The app is running!</p>

 </div>

<router-outlet></router-outlet>


