<style>


</style>

<!-- logo
<div id="logo_case">
   <p id="logo">Inventory Management App</p>
  </div>
-->

<!--
<ul id="navbar">
  <li id="menu_home"><a routerLink='/home'>Home</a></li>
  <li><a routerLink='/product'>Products</a></li>
  <li><a routerLink='/category'>Categories</a></li>
  <li><a routerLink='/user'>Users</a></li>
  <li><a routerLink='/registration'>Register</a></li>
  <li><a routerLink='/login'>Login</a></li>
  <li *ngIf="loggedUser && loggedUser.role === 'USER'" id="logo">Inventory Management App<li>

  <li><a routerLink='/contact'>Contact</a></li>
  <li><a routerLink='/about'>About</a></li>
  <li id="menu_login"><a routerLink='/login'>Login</a></li>

</ul> -->
<!--
<div class="content" role="main">

 <p>The app is running!</p>

 </div>
-->
<router-outlet></router-outlet>


