<!-- menu -->
<ul id="navbar">
  <li id="menu_home"><a routerLink='/home'>Home</a></li>
  <li *ngIf="loggedUser && loggedUser.role === 'ADMIN'"><a routerLink='/user'>Users</a></li>
  <!--<li id="logo">Touristic transportation<li>-->
  <li><a routerLink='/contact'>Contact</a></li>
  <li><a routerLink='/about'>About</a></li>
  <li  *ngIf="loggedUser && loggedUser.role === 'USER'"><a routerLink='/category'>Categories</a></li>
  <li  *ngIf="loggedUser && loggedUser.role === 'USER'"><a routerLink='/destination'>Destinations</a></li>
  <li  *ngIf="loggedUser && loggedUser.role === 'USER'"><a routerLink='/trip'>Trips</a></li>
  <li  *ngIf="loggedUser && loggedUser.role === 'VISITOR'"><a routerLink='/registration'>Register</a></li>
  <li  *ngIf="loggedUser && loggedUser.role === 'VISITOR'"><a routerLink='/login'>Login</a></li>
  <li *ngIf="loggedUser && loggedUser.role === 'USER'"><a routerLink='/logout'>Logout</a></li>
  <li *ngIf="loggedUser && loggedUser.role === 'USER'"><a routerLink='/bookings'>Book a trip</a></li>
  <li *ngIf="loggedUser && loggedUser.role === 'USER'"><a routerLink='/review'>Help board</a></li>
</ul>

<p>review works!</p>

<div class = "search">
  <form>
    <input type="search" (ngModelChange)="searchReviews(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search reviews..." required>
  </form>
</div>
<div class = "add_p">
  <a class="button" (click)="onOpenModal(addReview, 'add')">Add Review</a>
</div>


<div class="container" id="main-container" class="container_margin">
  <div class="row">
    <div *ngFor="let review of reviews">
      <div class="card">
        <div class="card-body">

          <h5 class="card-title">Rating: {{review.rating}}</h5>
          <p>Content: {{review.content}}</p>

        </div>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm edit_delete_buttons">
            <a (click)="onOpenModal(review, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit" ><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(review, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--<div [ngStyle]="{'display':display}">Text de afisat</div>-->
  <!-- Add Review Modal -->
  <div class="modal" id="addReviewModal" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="addReviewModalLabel">Add Review</h6>
          <button (click)="onCloseHandled()" type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddReview(addForm)">
            <div>
              <div>
                <input [ngModel]="loggedUser" name="user" class="form-control form_input" id="user" readonly>
              </div>

            </div>
            <div class="form-group">
              <input type="number" ngModel name="rating" class="form-control form_input" id="rating" placeholder="rating">
            </div>
            <div class="form-group">
              <input type="text" ngModel  name="content" class="form-control form_input" placeholder="content">
            </div>

            <div class="modal-footer">
              <button  (click)="onCloseHandled()" type="button" id="add-review-form" class="btn btn-secondary button" data-dismiss="modal" >Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary button" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal" id="updateReviewModal" role="dialog" [ngStyle]="{'display':display2}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="updateReviewModalLabel">Edit Review {{editReview.rating}}</h6>
          <button (click)="onCloseHandled2()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div>
              <input ngModel="{{editReview.user}}" name="user" class="form-control form_input" id="user2" readonly>
            </div>
            <div class="form-group">
              <input type="number" ngModel="{{editReview.rating}}" name="rating" class="form-control" placeholder="rating">
            </div>
            <div class="form-group">
              <input type="text" ngModel="{{editReview.content}}" name="content" class="form-control form_input" placeholder="content">
            </div>

            <input type="hidden" ngModel="{{editReview.id}}" name="id" class="form-control" id="id" placeholder="Email">

            <div class="modal-footer">
              <button (click)="onCloseHandled2()" type="button" id="" data-dismiss="modal" class="btn btn-secondary button">Close</button>
              <button (click)="onUpdateReview(editForm.value)" data-dismiss="modal" class="btn btn-primary button" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal" id="deleteReviewModal" role="dialog" [ngStyle]="{'display':display3}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="deleteModelLabel">Delete Review</h6>
          <button (click)="onCloseHandled3()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="modal_text">Are you sure you want to delete review {{deleteReview.rating}}?</p>
          <div class="modal-footer">
            <button (click)="onCloseHandled3()" type="button" class="btn btn-secondary button" data-dismiss="modal">No</button>
            <button (click)="onDeleteReview(deleteReview.id)" class="btn btn-danger button" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Notification for no Reviews -->
  <div *ngIf="reviews.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">No reviews!</h4>
      <p>No Reviews were found.</p>
    </div>
  </div>
</div>

<footer>
  <p>&copy; 2024 Touristic Transport Firm.</p>
</footer>
